body {
	font-style: Arial;
    padding-top: 10rem;
    padding-bottom: 10rem;
    padding-left: 10rem;
    padding-right: 10rem;
}

button {
	background-color: #6CC513;
	font-weight: bold;
}

header {
	color: white;
}

h1 {
	color: white;
}

img {
	width: 25em;
	height: 25em;
	border-radius: 50%;
	transform: rotate(90deg);
}

main {
	text-align: center;
	background-color: #F3E5C2;
}

#statistics {
	font-weight: bold;
}

#topSection {
	background-color: #35AB6C;
}